body {
    width: auto;
    height: auto;
    background: url(./images/img_background.svg), #FF7A7A 50%;

}

.container {
    margin: 0 auto;
    max-width: 1096px;
    
}

.content {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    /* width: 100vh;
    height: 100vh;   */
}

.content-left {
    margin: 0px;
}

.title {
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 299px 0px 41px 0;;
}

.sub-title {
    color: #FFF;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    margin:  41px 0px 308px 0;
}

.content-right .top-button {
    
    background: #6055A5;
    padding: 17px;
    color: #FFF;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    text-align: center;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

}

.content-right .form {
    margin-top: 24px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
    
}

.content-right .form .form-body {
    padding-top: 21px;
}

.content-right .form .form-group input {
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    padding: 15px 135px 15px 15px;
    font-size: 14px;
    font-weight: 800;
    border: 1px solid #B9B6D3;
}

.content-right .form .btn {
    border: 1px solid #2FB67C;
    border-radius: 8px;
    padding: 16px 80px;
    background: #38CC8C;
    box-shadow: 0px 2px 0px 0px #2FB67C;

}
.form-input{
    padding-bottom: 21px;
    position: relative;
}
.text {
    font-family: Poppins, sans-serif;
    font-size: 12px;

}

.sub-text {
    color: #FF7A7A;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.button-text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
}
.button-subtext {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    
}

.form-group {
    position: relative;
    padding: 0 32px;
}

.from-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px 17px 32px;
}

.icon_error {
    position: absolute;
    right: 10px;
    margin-top: 14px;
    display: none;
}


.error-message {
    color: red;
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 11px;
    position: absolute;
    right: 3px;
    

}

.btn {
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-text {
    padding-bottom: 34px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}




/* Reponsive website */

@media screen and (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
    }

    .container .content {
        width: 100%;
        display: block;
    }

    .content-right .form .form-group input {
        padding: 15px 60px 15px 15px;

    }

    .content-right .form .btn {

        padding: 18px 42px;
    }
    .content-right .top-button{
        padding: 0px;
    }

    .content-left {
        margin: 0;
        text-align: center;
    }

    .title {
        margin: 90px 30px 15px 30px;
    }

    .sub-title {
        margin: 15px 24px 44px 24px;
        font-size: 16px;
    }

    .content-right {
        margin: 0px;
        text-align: center;
    }

    .top-button {
        margin: 0px 60px 24px;
    }

    .button-subtext {
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

    .form {
        margin: 0 30px 49px 30px;
        display: block;
    }

    
    /* .icon_error{
        right: 60px;;
    }

    .error-message {
        right: 52px;
    } */

    .form-text {
        display: block;
        padding: 0 28px 30px;
    }

}